@font-face {
    font-family: "Jost", sans-serif;
    src: url(./Jost.zip);
}

body {
    font-family: "Jost", sans-serif;
}

/* header {
    display: flex;
} */

/* .header2-1 {
    justify-content: center;
    align-items: center;
} */

/* nav {
    display: flex;
    gap: 40px;
} */

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 505px;
    padding: 26px 120px 18px;
    margin: 0 auto;
} */

/* .span {
    font-size: 50px;
} */

/* a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #292f36;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    color: #cda274;
}

nav>a:focus {
    color: #cda274;
} */

/* .container {
    padding: 0px 120px 0px;
    margin: 0 auto;
    width: 1200px;
} */

/* .div-main1 {
    display: flex;
    flex-direction: column;
    padding: 188px 725px 260px 120px;
    background-image: url(./img/image12.png);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 19px;
} */

/* .p-button {
    display: flex;
    flex-direction: column;
    gap: 35px;
} */

/* p {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
} */

/* .h1 {
    margin: 0px;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0em;
    color: #292f36;
} */

/* .button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    width: 207px;
    padding: 22px 67px 22px 34px;
    background-color: #292f36;
    background-image: url(./img/image35.png);
    background-repeat: no-repeat;
    border-radius: 18px;
    border: 2px solid #292f36;
} */

.span2 {
    display: flex;
    padding: 0px 21px 0px 0px; 
}

/* .div-main2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 41px 70px 40px;
    gap: 17px;
} */

/* .div-main2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    padding: 75px 51px 103px 40px;
} */

/* .div-main2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    padding: 75px 52px 70px 40px;
} */

/* .div-main2 {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
} */

.img37 {
    transform: translate(0px, 0px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0ms;
}

.img37:hover {
    transform: translate(-100px);
    transform: rotate(180deg);
}

/* h5 {
    font-weight: 400;
    font-size: 25px;
    line-height: 156%;
    letter-spacing: 0.01em;
    color: #292f36;
    margin: 0px;
    padding: 0px;
} */

/* .button2 {
    display: flex;
    width: 320px;
    height: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 20px 0px 0px;
    color: #4d5053;
    border: 0px solid white;
    background-color: white;
} */

/* .div-main2-1-1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
} */

/* .div-main2-1-1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .div-main2-1-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

/* .div-main2-1-2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-main2-1-3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* h4 {
    font-weight: 400;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0em;
    color: #292f36;
    margin: 0px;
} */

/* .div-main3-2 {
    display: flex;
    flex-direction: column;
    gap: 42px;
} */

/* .radius1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
    width: 165px;
} */

/* .img14 {
    border-radius: 100px;
    width: 93px;
    height: 93px;
    background: #f4f0ec;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* .div-main3-p2-img14 {
    display: flex;
    align-items: center;
    padding: 10px 0px 40px;
    gap: 20px;
} */

/* .div-main3-p {
    width: 511px;
} */

/* .div-main3-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 29px;
} */

/* .div-main3-h4 {
    width: 450px;
} */

/* .button3 {
    border-radius: 18px;
    background-color: #292f36;
    border: 2px solid #292f36;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    background-image: url(./IMAGE\ \(36\).png);
    padding: 21px 67px 23px 34px;
    color: #fff;
} */

/* .div-main3 {
    flex-direction: column;
    background-image: url(./IMAGE\ \(34\).png);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 40px 0px 36px;
} */

/* h6 {
    font-weight: 400;
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.01em;
    color: #292f36;
    margin: 0px;
} */

/* .div-main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    padding: 103px 50px 120px 50px;
    gap: 45px;
    background: #f4f0ec;;
} */

/* .section4 {
    display: flex;
    flex-direction: column;
    padding: 140px 0px
} */

/* .div-main4-1 {
    display: flex;
    align-items: center;
    padding: 0px 49px 0px 0px;
    gap: 20px;
} */

/* .div-main4-2 {
    display: flex;
    align-items: center;
    padding: 0px 65px 0px 0px;
    gap: 20px;
} */

/* .div-main4-2-p {
    font-size: 18px;
} */

/* .div-mai4-h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .div-main4-0 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 30px;
    padding: 50px 30px 45px 35px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
} */

/* .div-main4-div {
    display: flex;
    gap: 16px;
} */

/* .div-main5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 89px;
} */

/* .div-main5-img1 {
    width: 132px;
    height: 43px;
} */

/* .div-main5-img2 {
    width: 103px;
    height: 103px;
} */

/* .div-main5-img3 {
    width: 164px;
    height: 43px;
} */

/* .div-main5-img4 {
    width: 145px;
    height: 45px;
} */

/* .div-main5-img5 {
    width: 117px;
    height: 48px;
} */

/* .div-main6 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 100px 0px 80px;
} */

/* .div-main6-2 {
    gap: 60px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
} */

 /* .img28 {
    display: flex;
    padding: 35px;
    border-radius: 100px;
    border: #fff;
    background-image: url(./img/image28.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f0ec;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0ms;
} */

/* .img28:hover {
    transform: rotate(380deg);
} */ 

/* .img24 {
    width: 590px;
    height: 661px;
    transition-property: width, height;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0ms;
}

.img24:hover {
    width: 640px;
    height: 711px;
} */

/* .div-main6-2-1-1 {
    display: flex;
    gap: 238px;
    padding: 25px 0px 0px;
    align-items: center;
} */

/* .div-main6-2-1-2 {
    display: flex;
    gap: 237px;
    padding: 25px 0px 0px;
    align-items: center;
} */

/* .div-main6-2-1-3 {
    display: flex;
    gap: 242px;
    padding: 25px 0px 0px;
    align-items: center;
} */

/* .div-main6-2-1-4 {
    display: flex;
    gap: 211px;
    padding: 25px 0px 0px;
    align-items: center;
} */

/* .div-main6-p {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
} */

/* .div-main6-h4 {
    display: flex;
    justify-content: center;
    font-size: 47px;
    line-height: 133%;
    letter-spacing: 0em;
    text-align: center;
} */

/* .div-main6-h5-p {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

/* .div-main7-1 {
    padding: 35px 55px 10px 33px;
    border-right: 1px solid #cda274;
} */

/* .div-main7-3 {
    padding: 35px 86px 10px 65px;
    border-right: 1px solid #cda274;
} */

/* .div-main7-2 {
    padding: 35px 78px 10px 57px;
    border-right: 1px solid #cda274;
} */

/* .div-main7-4 {
    padding: 35px 67px 10px 47px;
} */

/* .div-main7 {
    display: flex;
    gap: 16px;
    padding: 140px 0px;
} */

/* h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 85px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #cda274;
    margin: 0px;
} */

/* .section7 {
    background: #f4f0ec;
} */

/* .div-main8 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 130px 0px 100px;
} */

/* .div-main8-h4-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
} */

/* .div-main8-h4-p2 {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

/* .div-main8-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 20px;
} */

/* .div-main8-1-1 {
    display: flex;
    gap: 10px;
    padding: 21px 21px 40px 21px;
    border: 1px solid #e7e7e7;
    border-radius: 62px;
    flex-direction: column;
    transition-property: padding;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0ms;
}

.div-main8-1-1:hover {
    padding: 34px 34px 53px 34px;
} */

/* .div-main8-h6 {
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
} */

/* .div-main8-h6-2 {
    padding: 15px 0px 0px;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
} */

/* .div-main8-h6-3 {
    width: 276px;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
} */

/* .div-main8-1-1-2 {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px;
    gap: 80px;
} */

/* .div-main9-p {
    display: flex;
    align-items: center;
    color: #fff;
} */

/* h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #fff;
    margin: 0px;
    padding: 0px;
} */

/* .div-main9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #292f36;
    border-radius: 70px;
    padding: 100px 0px 95px;
    gap: 31px;
} */

/* .div-main9-1 {
    display: flex;
    flex-direction: column;
    gap: 9px;
} */

/* .div-main9-button {
    padding: 21px 70px 23px 34px;
    border-radius: 18px;
    background-color: #cda274;
    border: 2px solid #cda274;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    background-image: url(./IMAGE\ \(38\).png);
    color: #fff;
} */

/* .div-foopter-img {
    display: flex;
    align-items: center;
    gap: 40px;
} */

/* .div-foopter-p {
    width: 326px;
} */

/* .div-foopter-div1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

/* .div-foopter-div2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 60px 180px 0px;
} */

/* .div-foopter-div3 {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 0px 97px 30px 0px;
} */

/* .div-foopter-div4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

/* .div-foopter-div3-h6 {
    font-size: 25px;
} */

/* .div-foopter-div6 {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 0px 15px 124px 0px;
} */

/* .div-foopter {
    display: flex;
    padding: 80px 0px 80px;
    gap: 16px;
} */

/* .div-footer2-a {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #cda274;
} */

/* .div-footer2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 36px 0px 36px;
} */

/* .footer-section {
    border-top: 2px solid #E5E5E5;
} */

/* .div-foopter-img>img {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.div-foopter-img>img:hover {
    transform: rotate(1080deg);
} */