@import '../colors';

.div-general-main-section3 {
    flex-direction: column;
    background-image: url(/img/image34.png);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 40px 0px 36px;

    &__div-binding {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 29px;
    }

    &__div-binding {
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &__div-tell {
        display: flex;
        align-items: center;
        padding: 10px 0px 40px;
        gap: 20px;
    }

    &__img {
        border-radius: 100px;
        width: 93px;
        height: 93px;
        background: map-get($color, #fff);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &__namber-tell {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: map-get($colors, #4d5053);
        width: 165px;
    }

    &__button {
        border-radius: 18px;
    background-color: map-get($color, #292f36);
    border: 2px solid map-get($color, #292f36);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    background-image: url(/img/image36.png);
    padding: 21px 67px 23px 34px;
    color: map-get($color, #fff);
    }
}