@import '../colors';

.div-general-main-section9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: map-get($colors, #292f36);
    border-radius: 70px;
    padding: 100px 0px 95px;
    gap: 31px;

    &__div-content {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__p {
        display: flex;
        align-items: center;
        color: map-get($colors, #fff);
    }

    &__button {
        padding: 21px 70px 23px 34px;
        border-radius: 18px;
        background-color: map-get($colors, #cda274);
        border: 2px solid map-get($colors, #cda274);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
        background-image: url(/img/image38.png);
        color: map-get($colors, #fff);
    }
}